@font-face {
  font-family: 'DDC Hardware';
  src: url('fonts/ddc-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DDC Hardware Condensed';
  src: url('fonts/ddc-condensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'DDC Hardware Condensed';
  color: white;
}

html, body, #root, .App {
  height: 100%;
}

#game, canvas {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#gameover {
  display: none;
  height: 100%;
}

.GameOverInner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-image: url(/assets/gameover-bg.png);
}

.GameOver-title {
  width: 60%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.GameOver-score {
  font-size: 100px;
  font-size: 12vh;
}

@keyframes blink-animation {
  from,
   49.9% {
     opacity: 0;
   }
   50%,
   to {
     opacity: 1;
   }
}


.GameOver-cta {
  width: 60%;
  opacity: 0;
  animation: blink-animation 1.5s linear infinite;
  animation-delay: 7.5s;
}

#gamebefore {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.GameBeforeInner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.Doors {
  height: 100%;
  display: flex;
  /*transition-delay: 2s;*/
}

.Door {
  transition-property: transform;
  transition-duration: 2s;
  margin-top: -1px;
}

.Door.right {
  transform: translateX(-5.2vw);
}

.Door.left.opened {
  transform: translateX(-55vw);
}

.Door.right.opened {
  transform: translateX(50vw);
}

.Doors > img {
  /*width: 50%;*/
}
